.can {
  left: 0px;
  width: auto;
  height: 535px;
  background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-707070);
  background: #000000 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
}
.can1 {
  margin-left: 30px;
}
#game {
  color: #ffffff;
  padding: 0px;
  left: 195px;
  width: 294px;
  margin-top: 90px;
  height: 12px;
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal bold 50px/20px Arial;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}
.para {
  color: #ffffff;
  font: normal normal normal 20px/60px Calibri;
  margin: 0px;
  left: 206px;
  width: 516px;
  height: 2px;
  padding-left: 60px;
}

#imga {
  top: 1389px;
  left: 205px;
  width: 180px;
  height: 240px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 22px;
  opacity: 1;
}
.dex {
  width: 260px;
  height: 379px;
}
.fix {
  width: 260px;
  height: 379px;
}
.img-fluid {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
.content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.6); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 180px;
  font-size: 7px;
  border-radius: 0px 0px 21px 21px;
}
.content2 {
  top: 631px;
  left: 514px;
  width: 160px;
  height: 60px;
  margin-left: 13px;
  margin-top: -60px;
  background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 21px 21px;
  opacity: 0.67;
}
.content2 p {
  color: #ffffff;
  font-size: 19px;
  opacity: 1.7;
  text-decoration: none;
}
