#footer-sidebar {
  color: #ffffff;
  background-color: #000;
  padding-top: 20px;
  height: 200px;
}
#address {
  left: 1211px;
  width: 333px;
  height: 64px;
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal normal 15px/15px Calibri;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
#faq {
  top: 6323px;
  left: 339px;
  width: 158px;
  height: 72px;
  font: normal normal normal 15px/15px Calibri;
  letter-spacing: 0px;
  color: #f7f7f7;
  opacity: 1;
}
#compete {
  top: 6293px;
  left: 339px;
  width: 210px;
  height: 22px;
  margin-left: -20px;
  color: var(--unnamed-color-ffffff);
  font: normal normal bold 17px/18px Arial;
  letter-spacing: 0px;

  color: #ffffff;
  opacity: 1;
}
.ban {
  float: left;
}
.bad {
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 8px;
}
.bet {
  border-radius: 8em;
}
#p2 {
  width: 8px;
  border: yellowgreen;
  height: 80px;
}
