.dc {
  top: 70px;
  left: 0px;
  background-size: cover;
  background-position: center;
  width: auto;
  height: 448px;
  opacity: 1;
}
#dc {
  width: auto;
  height: 558px;
}
#ce {
  height: 444px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.bottom-left {
  position: absolute;
  bottom: 8px;

  left: 16px;
  margin-bottom: 290px;
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal bold 40px/13px Arial;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}
.desk {
  top: 345px;
  left: 0px;
  height: 1510px;
  background: var(--unnamed-color-212121) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-303030);
  background: #212121 0% 0% no-repeat padding-box;
  border: 1px solid #303030;
  opacity: 1;
}
#desk1 {
  top: 927px;
  left: 488px;
  width: 948px;
  margin-top: 90px;
  height: 790px;
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal bold 40px/49px Arial;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}
#desk2 {
  margin-bottom: 40px;
}
#e {
  float: left;
  top: 2264px;
  left: 167px;

  width: 520px;
  margin-bottom: 20px;
  margin-left: 245px;

  height: 255px;
  background: var(--unnamed-color-272727) 0% 0% no-repeat padding-box;
  background: #272727 0% 0% no-repeat padding-box;
  opacity: 1;
}
#eimg {
  width: 120px;
  height: 140px;
  margin: 15px;
}
#edolr {
  top: 3188px;
  left: 233px;
  width: 63px;
  height: 63px;
  margin-top: -95px;
  margin-left: 10px;
  opacity: 1;
}
#etex {
  color: #272727;
  font-weight: bold;
  margin-top: -99px;
  font-size: 15px;
  margin-left: 10px;
}
#etext {
  color: #ffffff;
  font-size: 40px;
  margin-top: 14px;
}
#espan {
  font-size: 0.55em;
  color: gray;
  text-align: left;
  margin-left: -10px;
  margin-bottom: 30px;
}
#esp {
  font-size: 1.3em;
  color: #ff0707;
}
#esp1 {
  color: #ffffff;
  top: 2436px;

  left: 1259px;
  width: 50px;
  height: 37px;
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal normal 17px/26px Calibri;
  letter-spacing: 0px;
  opacity: 1;
}
#espa {
  color: #4a4747;
  top: 2436px;
  left: 1259px;
  width: 50px;
  height: 37px;
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal normal 9px/26px Calibri;
  letter-spacing: 0px;
  opacity: 1;
}
#ediv {
  float: left;
  left: 396px;
  width: 55px;
  height: 18px;
  margin-top: -16px;
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal normal 13px/19px Calibri;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.6;
}
#eline {
  border-top: 1px solid #4a4747;
  margin-top: 80px;
  top: 30px;
  left: 454px;
  height: 80px;
  color: var(--unnamed-color-f69204);
  text-align: center;
  font: normal normal normal 18px/26px Calibri;
  letter-spacing: 0px;
  padding-top: 20px;

  color: #f69204;
  opacity: 1;
}
.fas {
  font-size: 16px;
  padding-left: 10px;
  text-align: center;
  opacity: 1;
}
#eview {
  margin: auto;
  margin-top: 40px;
  width: 10%;
  border: 1px solid #f69204;
  padding: 7px;
  font-size: 16px;
  color: #f69204;
  text-align: center;
  font-weight: bold;
}
#et {
  text-align: left;
  font-size: 30px;
  height: 60px;
}
#pay {
  height: 55px;
  width: 194px;
}
